services:
  frontend:
    build:
      context: ./apps/frontend
    restart: always

  backend:
    build:
      context: ./apps/backend
    volumes:
      - ./data:/data
    env_file:
      - ./.env
    environment:
      - DB_PATH=/data/app.db
    restart: always

  caddy:
    image: caddy:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - backend
    restart: always

volumes:
  caddy_data:
  caddy_config:
